In [1]:
from pyspark.sql import SparkSession

# Your existing Spark session
# Create Spark Session with all configurations
spark_session = SparkSession.builder \
    .appName("app_silver_layer_data_viewer") \
    .master("spark://spark-master:7077") \
    .config("spark.executor.memory", "1g") \
    .config("spark.executor.cores", "1") \
    .config("spark.cores.max", "1") \
    .config("spark.sql.adaptive.enabled", "true") \
    .config("spark.sql.adaptive.coalescePartitions.enabled", "true") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "minioadmin") \
    .config("spark.hadoop.fs.s3a.secret.key", "minioadmin123") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider") \
    .config("spark.jars.packages", 
            "org.apache.hadoop:hadoop-aws:3.3.4,"
            "com.amazonaws:aws-java-sdk-bundle:1.12.262,"
            "org.postgresql:postgresql:42.5.4") \
    .getOrCreate()

# Simple SQL function
def sql(query):
    """Execute Spark SQL and show data"""
    return spark_session.sql(query).show(10, False)

print("✓ Setup complete. Use sql('SELECT * FROM customers') to query")

✓ Setup complete. Use sql('SELECT * FROM customers') to query

In [2]:
print("Viewing transactions data from silver layer")
df = spark_session.read.parquet("s3a://silver/transactions/", header=True)
df.printSchema()
df.createOrReplaceTempView("transactions")

sql("SELECT * FROM transactions limit 10")

Viewing transactions data from silver layer
root
 |-- id: long (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- client_id: integer (nullable = true)
 |-- card_id: integer (nullable = true)
 |-- amount: decimal(10,2) (nullable = true)
 |-- use_chip: string (nullable = true)
 |-- merchant_id: integer (nullable = true)
 |-- merchant_city: string (nullable = true)
 |-- merchant_state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- mcc: integer (nullable = true)
 |-- errors: string (nullable = true)

+-------+-------------------+---------+-------+------+------------------+-----------+-------------+--------------+-------+----+------+
|id     |date               |client_id|card_id|amount|use_chip          |merchant_id|merchant_city|merchant_state|zip    |mcc |errors|
+-------+-------------------+---------+-------+------+------------------+-----------+-------------+--------------+-------+----+------+
|7475327|2010-01-01 00:01:00|1556     |2972   |-77.00|Swipe Transaction |59935      |Beulah       |ND            |58523.0|5499|NULL  |
|7475328|2010-01-01 00:02:00|561      |4575   |14.57 |Swipe Transaction |67570      |Bettendorf   |IA            |52722.0|5311|NULL  |
|7475329|2010-01-01 00:02:00|1129     |102    |80.00 |Swipe Transaction |27092      |Vista        |CA            |92084.0|4829|NULL  |
|7475331|2010-01-01 00:05:00|430      |2860   |200.00|Swipe Transaction |27092      |Crown Point  |IN            |46307.0|4829|NULL  |
|7475332|2010-01-01 00:06:00|848      |3915   |46.41 |Swipe Transaction |13051      |Harwood      |MD            |20776.0|5813|NULL  |
|7475333|2010-01-01 00:07:00|1807     |165    |4.81  |Swipe Transaction |20519      |Bronx        |NY            |10464.0|5942|NULL  |
|7475334|2010-01-01 00:09:00|1556     |2972   |77.00 |Swipe Transaction |59935      |Beulah       |ND            |58523.0|5499|NULL  |
|7475335|2010-01-01 00:14:00|1684     |2140   |26.46 |Online Transaction|39021      |ONLINE       |NULL          |NULL   |4784|NULL  |
|7475336|2010-01-01 00:21:00|335      |5131   |261.58|Online Transaction|50292      |ONLINE       |NULL          |NULL   |7801|NULL  |
|7475337|2010-01-01 00:21:00|351      |1112   |10.74 |Swipe Transaction |3864       |Flushing     |NY            |11355.0|5813|NULL  |
+-------+-------------------+---------+-------+------+------------------+-----------+-------------+--------------+-------+----+------+

In [11]:
print("Viewing cards data from silver layer")
df = spark_session.read.parquet("s3a://silver/cards/", header=True)
df.printSchema()
df.createOrReplaceTempView("cards")

sql("SELECT * FROM cards limit 10")

Viewing cards data from silver layer
root
 |-- id: integer (nullable = true)
 |-- client_id: integer (nullable = true)
 |-- card_brand: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- card_number: string (nullable = true)
 |-- expires: date (nullable = true)
 |-- cvv: integer (nullable = true)
 |-- has_chip: string (nullable = true)
 |-- num_cards_issued: integer (nullable = true)
 |-- credit_limit: decimal(10,2) (nullable = true)
 |-- acct_open_date: date (nullable = true)
 |-- year_pin_last_changed: integer (nullable = true)
 |-- card_on_dark_web: string (nullable = true)

+----+---------+----------+---------------+----------------+----------+---+--------+----------------+------------+--------------+---------------------+----------------+
|id  |client_id|card_brand|card_type      |card_number     |expires   |cvv|has_chip|num_cards_issued|credit_limit|acct_open_date|year_pin_last_changed|card_on_dark_web|
+----+---------+----------+---------------+----------------+----------+---+--------+----------------+------------+--------------+---------------------+----------------+
|4524|825      |Visa      |Debit          |4344676511950444|2022-12-31|623|YES     |2               |24295.00    |2002-09-01    |2008                 |No              |
|2731|825      |Visa      |Debit          |4956965974959986|2020-12-31|393|YES     |2               |21968.00    |2014-04-01    |2014                 |No              |
|3701|825      |Visa      |Debit          |4582313478255491|2024-02-29|719|YES     |2               |46414.00    |2003-07-01    |2004                 |No              |
|42  |825      |Visa      |Credit         |4879494103069057|2024-08-31|693|NO      |1               |12400.00    |2003-01-01    |2012                 |No              |
|4659|825      |Mastercard|Debit (Prepaid)|5722874738736011|2009-03-31|75 |YES     |1               |28.00       |2008-09-01    |2009                 |No              |
|4537|1746     |Visa      |Credit         |4404898874682993|2003-09-30|736|YES     |1               |27500.00    |2003-09-01    |2012                 |No              |
|1278|1746     |Visa      |Debit          |4001482973848631|2022-07-31|972|YES     |2               |28508.00    |2011-02-01    |2011                 |No              |
|3687|1746     |Mastercard|Debit          |5627220683410948|2022-06-30|48 |YES     |2               |9022.00     |2003-07-01    |2015                 |No              |
|3465|1746     |Mastercard|Debit (Prepaid)|5711382187309326|2020-11-30|722|YES     |2               |54.00       |2010-06-01    |2015                 |No              |
|3754|1746     |Mastercard|Debit (Prepaid)|5766121508358701|2023-02-28|908|YES     |1               |99.00       |2006-07-01    |2012                 |No              |
+----+---------+----------+---------------+----------------+----------+---+--------+----------------+------------+--------------+---------------------+----------------+

In [12]:
print("Viewing mcc codes data from silver layer")
df = spark_session.read.parquet("s3a://silver/mcc_codes/", header=True)
df.printSchema()
df.createOrReplaceTempView("mcc_codes")

sql("SELECT * FROM mcc_codes limit 10")

Viewing mcc codes data from silver layer
root
 |-- mcc_code: integer (nullable = true)
 |-- description: string (nullable = true)

+--------+------------------------------------------+
|mcc_code|description                               |
+--------+------------------------------------------+
|5812    |Eating Places and Restaurants             |
|5541    |Service Stations                          |
|7996    |Amusement Parks, Carnivals, Circuses      |
|5411    |Grocery Stores, Supermarkets              |
|4784    |Tolls and Bridge Fees                     |
|4900    |Utilities - Electric, Gas, Water, Sanitary|
|5942    |Book Stores                               |
|5814    |Fast Food Restaurants                     |
|4829    |Money Transfer                            |
|5311    |Department Stores                         |
+--------+------------------------------------------+

In [13]:
print("Viewing users data from silver layer")
df = spark_session.read.parquet("s3a://silver/users/", header=True)
df.printSchema()
df.createOrReplaceTempView("users")

sql("SELECT * FROM users limit 10")

Viewing users data from silver layer
root
 |-- id: integer (nullable = true)
 |-- current_age: integer (nullable = true)
 |-- retirement_age: integer (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- birth_month: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- address: string (nullable = true)
 |-- latitude: decimal(10,6) (nullable = true)
 |-- longitude: decimal(10,6) (nullable = true)
 |-- per_capita_income: decimal(12,2) (nullable = true)
 |-- yearly_income: decimal(12,2) (nullable = true)
 |-- total_debt: decimal(12,2) (nullable = true)
 |-- credit_score: integer (nullable = true)
 |-- num_credit_cards: integer (nullable = true)

+----+-----------+--------------+----------+-----------+------+------------------------+---------+-----------+-----------------+-------------+----------+------------+----------------+
|id  |current_age|retirement_age|birth_year|birth_month|gender|address                 |latitude |longitude  |per_capita_income|yearly_income|total_debt|credit_score|num_credit_cards|
+----+-----------+--------------+----------+-----------+------+------------------------+---------+-----------+-----------------+-------------+----------+------------+----------------+
|825 |53         |66            |1966      |11         |Female|462 Rose Lane           |34.150000|-117.760000|29278.00         |59696.00     |127613.00 |787         |5               |
|1746|53         |68            |1966      |12         |Female|3606 Federal Boulevard  |40.760000|-73.740000 |37891.00         |77254.00     |191349.00 |701         |5               |
|1718|81         |67            |1938      |11         |Female|766 Third Drive         |34.020000|-117.890000|22681.00         |33483.00     |196.00    |698         |5               |
|708 |63         |63            |1957      |1          |Female|3 Madison Street        |40.710000|-73.990000 |163145.00        |249925.00    |202328.00 |722         |4               |
|1164|43         |70            |1976      |9          |Male  |9620 Valley Stream Drive|37.760000|-122.440000|53797.00         |109687.00    |183855.00 |675         |1               |
|68  |42         |70            |1977      |10         |Male  |58 Birch Lane           |41.550000|-90.600000 |20599.00         |41997.00     |0.00      |704         |3               |
|1075|36         |67            |1983      |12         |Female|5695 Fifth Street       |38.220000|-85.740000 |25258.00         |51500.00     |102286.00 |672         |3               |
|1711|26         |67            |1993      |12         |Male  |1941 Ninth Street       |45.510000|-122.640000|26790.00         |54623.00     |114711.00 |728         |1               |
|1116|81         |66            |1938      |7          |Female|11 Spruce Avenue        |40.320000|-75.320000 |26273.00         |42509.00     |2895.00   |755         |5               |
|1752|34         |60            |1986      |1          |Female|887 Grant Street        |29.970000|-92.120000 |18730.00         |38190.00     |81262.00  |810         |1               |
+----+-----------+--------------+----------+-----------+------+------------------------+---------+-----------+-----------------+-------------+----------+------------+----------------+

In [14]:
spark_session.stop()